body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.warning {
  width: 255px;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgb(229, 62, 62);
  color: white;
  text-align: center;
}

.task-item input.done {
  text-decoration: line-through;
  color: #868e96;
}

.task-item .task-text {
  cursor: pointer;
}
